.userItem {
  flex: 4;
  padding: 20px;
}

.userTitle {
  align-items: center;
  justify-content: center;
  display: flex;
}

.addUserItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.addUserItem > label {
  color: gray;
  font-weight: 650;
  margin-bottom: 10px;
}

.cardRoot {
  display: flex;
}

.cardDetail {
display: flex;
flex-direction: column;
}

.cardContent {
flex: '1 0 auto'
}

.media {
width: 250px;
height: 250px;
}

.control {
  display: 'flex';
  align-items: 'center';
  padding-left: 8px;
  padding-bottom: 8px;
}