.movieList{
    flex: 4;
    margin-left: 20px;
    margin-top: 5px;
    .createButton {
        margin-bottom: 20px;
    }
}

.movieListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.movieListDelete{
    color: red;
    cursor: pointer;
}