.newMovie {
  flex: 4;
  padding: 20px;
}

.title {
  align-items: center;
  justify-content: center;
  display: flex;
}

.addMovieItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.addMovieItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addMovieItem > select {
  padding: 10px;
  height: 60px;
}
