  .newList {
    flex: 4;
  }
  
  .addListItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .title {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .addListItem > label {
    color: gray;
    font-weight: 650;
    margin-bottom: 10px;
  }
  
  .addListItem > select {
    padding: 10px;
    height: 60px;
  }
  