.watch {
    width: 100vw;
    height: 100vh;

    .link {
      color: inherit;
      text-decoration: none;

      .back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;
      }
    }
  }